<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
</head>

<body>

    <img src="https://drive.google.com/file/d/1q6q36G6oFrz4iTIJWPKF4LwHxYOHH3Pn/view?usp=drivesdk" alt="">

</body>

</html>